* {
  margin: 0;
  padding: 0;

  /* CSS HEX */
  --prussian-blue: #003049ff;
  --brick-red: #82321c;
  --darker-red: #632615;
  --orange-wheel: #f77f00ff;
  --xanthous: #fcbf49ff;
  --vanilla: #f0eaa7;
}

body {
  background-color: var(--brick-red);
  color: var(--vanilla);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-align: left;
}

section {
  padding: 3rem;
}

.centered {
  text-align: center;
}

.herobox {
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: row;
  color: white;
  object-fit: contain;
  background-color: white;
  justify-content: center;
}

/* Image styling */
img {
  max-width: 800px;
  height: auto;
  margin-bottom: 1rem;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.5);
}

img.hero {
  width: auto;
  height: auto;
  box-shadow: none;
}

img.poster {
  width: auto;
  height: 300px;
}

.top-text {
  margin-top: 1rem;
  padding: 3rem;
}

/* Font styles */
h1 {
  font-size: 5rem;
  font-family: "Garamond", serif;
}

h2,
.subtitle {
  font-size: 2.5rem;
  font-family: "Garamond", serif;
  margin-bottom: 2rem;
}

a {
  color: var(--vanilla);
}
a:hover {
  color: var(--xanthous);
}
/* Navigation styling */
.topnav {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.topnav > a {
  color: var(--fire-engine-red);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.topnav > a:hover {
  color: var(--xanthous);
}

/* Lists styling */
li {
  margin-left: 1.5rem;
}

/* Ability table */
th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
tr:nth-child(odd) {
  background-color: var(--darker-red);
}
tr {
  text-align: center;
}
th,
td {
  padding: 1rem;
}

/* Two-column sections */
.row-layout {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 2rem;
}

.row-layout:nth-child(odd) {
  background-color: var(--darker-red);
}

/* Footer */
footer {
  text-align: center;
  margin: 1.5rem;
}

select {
  margin: 1.5rem;
  height: 30px;
  width: 150px;
}

@media (max-width: 800px) {
  .row-layout {
    flex-direction: column;
    align-items: center;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
